
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;

}

a{
    text-decoration: none;
    color: black;
}

.header{

    height: 60px;
    border-bottom: 1px solid black;
    background-color: rgb(148, 239, 239);
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
    position: fixed;
    left: 5px;
    right: 5px;
    top: 2px;
    
}

ul li{
    margin: 5px;
}

.sub-head{
  font-family: 'Times New Roman', Times, serif; 
  font-size: 18px; 
  text-align: center;
}



